---
import type { TExperience } from '../../../types/TTypes';
import ExperienceElementHeader from './ExperienceElementHeader.astro';
import Typography from '../../typography/Typography.astro';
import { Picture } from 'astro-imagetools/components';

import Badge from '../../badge/Badge.astro';
type Props = {
  data: TExperience;
};

const { data } = Astro.props;
---

<li>
  <ExperienceElementHeader data={data} />
  <div class="relative py-6 lg:px-0">
    <div class="mb-8 flex flex-col gap-2">
      <Typography variant="h2" className="mb-0 text-center">{data.title}</Typography>
      <div class="flex flex-wrap items-center justify-center gap-2 py-4">
        {data.tech.map((t) => <Badge className="!border-secondary/100 ">{t}</Badge>)}
      </div>
    </div>

    <ul class="space-y-6 text-text-secondary">
      {data.bulletPoints.map((bulletPoint) => <li class="mb-2 text-base ">{bulletPoint}</li>)}
    </ul>

    <div class="mt-10 flex flex-col gap-4">
      {
        data.images.map((image) => (
          <Picture
            placeholder="blurred"
            loading="lazy"
            src="src/images/7bScreen1.jpg"
            alt={data.title}
            layout="fullWidth"
            attributes={{
              class: 'rounded-lg',
            }}
          />
        ))
      }
    </div>
    <hr class="mt-12 h-px border-0 bg-text-secondary opacity-50" />
  </div>
</li>
