---
import Layout from '../layouts/Layout.astro';
import IntroSection from '../components/sections/intro/IntroSection.astro';
import ExperienceSection from '../components/sections/experience/ExperienceSection.astro';
import { CORE_SKILLS, EXPERIENCES, IndexPageSectionId } from '../data/indexPageData';
import CoreSkillsSection from '../components/sections/coreSkills/CoreSkillsSection.astro';
import SectionWrapper from '../components/sections/SectionWrapper.astro';
// import FreelanceProjectsSection from '../components/sections/freelance/FreelanceProjectsSection.astro';
import TestimonialsAndContactSection from '../components/sections/testimonialsAndContact/TestimonialsAndContactSection.astro';
import FloatingMenu from '../components/menu/FloatingMenu.astro';
import GithubContributions from '../components/github/GithubContributions.astro';
---

<Layout title="Juraj Slavíček">
  <FloatingMenu />
  <main class="mx-auto size-full max-w-screen-xl">
    <SectionWrapper id={IndexPageSectionId.INTRO}>
      <IntroSection />
    </SectionWrapper>
    <SectionWrapper id={IndexPageSectionId.CORE_SKILLS}>
      <CoreSkillsSection data={CORE_SKILLS} />
    </SectionWrapper>
    <SectionWrapper id={IndexPageSectionId.EXPERIENCES}>
      <ExperienceSection data={EXPERIENCES} />
    </SectionWrapper>
    <!-- <SectionWrapper>
      <FreelanceProjectsSection />
    </SectionWrapper> -->
    <TestimonialsAndContactSection />
    <SectionWrapper>
      <GithubContributions />
    </SectionWrapper>
  </main>
</Layout>

<style></style>
