---
import Layout from '../layouts/Layout.astro';
import { testimonialsData } from '../data/testimonialsData';
import Testimonial from '../components/sections/testimonialsAndContact/Testimonial.astro';
---

<Layout title="Testimonials">
  <main class="mx-auto size-full max-w-screen-xl">
    <section class="flex flex-col gap-10 pb-20 pt-8 md:pt-16 lg:pt-24">
      <div class="flex h-auto flex-col md:flex-row">
        <div class="w-full bg-secondary md:w-1/2">
          <Testimonial
            text={testimonialsData[0].text}
            author={testimonialsData[0].author}
            position={testimonialsData[0].position}
          />
        </div>
        <div class="flex w-full flex-col md:w-1/2">
          <div class="bg-primary">
            <Testimonial
              text={testimonialsData[1].text}
              author={testimonialsData[1].author}
              position={testimonialsData[1].position}
            />
          </div>
          <div class="bg-tertiary">
            <Testimonial
              text={testimonialsData[2].text}
              author={testimonialsData[2].author}
              position={testimonialsData[2].position}
            />
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
