---
import esetLogo from '../images/esetLogo.svg';
import simplicityLogo from '../images/simplicityLogo.svg';
import sevenBridgesLogo from '../images/sevenBridgesLogo.svg';
import dreamJobsLogo from '../images/dreamJobsLogo.svg';
import { Image } from 'astro:assets';

const LOGO_HEIGHT_PX = 32;

const LOGOS = [
  {
    src: sevenBridgesLogo,
    title: 'The 7bridges',
    alt: 'The 7 bridges logo',
    href: 'https://www.the7bridges.com/',
  },
  {
    src: simplicityLogo,
    title: 'Simplicity',
    alt: 'Simplicity logo',
    href: 'https://www.onesimplicity.com/',
  },
  {
    src: dreamJobsLogo,
    title: 'Dream jobs',
    alt: 'Dream jobs logo',
    href: 'https://www.dream.jobs',
  },
  {
    src: esetLogo,
    title: 'ESET',
    alt: 'ESET logo',
    href: 'https://www.eset.com/',
  },
];
---

<section class="flex w-full flex-col-reverse gap-4 lg:flex-row">
  <div class="flex w-full flex-col lg:w-1/2">
    <h1 class="text-5xl font-semibold">Juraj Slavíček</h1>
    <h2 class="mb-4 text-3xl font-light text-text-secondary">Lead Software Engineer</h2>
    <div class="my-8 flex flex-wrap gap-8">
      {
        LOGOS.map(({ src, alt, href, title }) => (
          <a href={href} target="_blank">
            <Image src={src} alt={alt} height={LOGO_HEIGHT_PX} title={title} />
          </a>
        ))
      }
    </div>
    <p class="max-w-prose text-xl font-light leading-8 text-text-secondary">
      Hi, I’m Juraj, a software engineer with over 10 years of experience in building complex web applications,
      particularly in startups poised for substantial growth.
    </p>
    <br />
    <p class="max-w-prose text-xl font-light leading-8 tracking-tight text-text-secondary">
      From concept to completion, I have led teams in delivering projects that respond to actual business needs
      effectively. I'm all about taking startups to the next level technically, ensuring they're not just keeping up but
      setting the pace.
    </p>
  </div>
  <div class="flex w-full justify-center pb-4 md:pb-16 lg:w-1/2 lg:justify-center">
    <div class="size-48 rounded-full md:size-72 lg:size-96">
      <video autoplay loop muted playsinline class="rounded-full">
        <source src="/introVideo.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>
